/* Hover Zoom Effect */
.hover-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(20px) scale(0.95);
    animation: fadeIn 0.5s forwards;
}

.hover-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.card-delay-1 {
    animation-delay: 0.2s;
}

.card-delay-2 {
    animation-delay: 0.3s;
}

.card-delay-3 {
    animation-delay: 0.4s;
}
.card-delay-4 {
    animation-delay: 0.5s;
}
.card-delay-5 {
    animation-delay: 0.6s;
}

